@model Demo.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierAbbr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierAbbr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierClassify)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierClassify)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierCompetentProducts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierCompetentProducts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierBuyer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierBuyer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierProvince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierProvince)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierEnable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierEnable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SupplierID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
